<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./Public/admin/css/ch-ui.admin.css">
    <link rel="stylesheet" href="./Public/admin/font/css/font-awesome.min.css">
</head>
<body style="background:#F3F3F4;">
<div class="login_box">
    <h1>Blog</h1>
    <h2>欢迎使用博客管理平台</h2>
    <div class="form">
        <form action="./index.php?p=admin&c=login&a=login" method="post">
            <ul>
                <li>
                    <input type="text" name="uname" class="text"/>
                    <span><i class="fa fa-user"></i></span>
                </li>
                <li>
                    <input type="password" name="pwd" class="text"/>
                    <span><i class="fa fa-lock"></i></span>
                </li>
                <li>
                    <input type="text" class="code" name="code"/>
                    <span><i class="fa fa-check-square-o"></i></span>
                    <img    onclick="this.src='index.php?p=admin&c=login&a=captcha&t='+Math.random()"
                            src="index.php?p=admin&c=login&a=captcha" alt="">
                </li>
                <li>
                    <input type="submit" value="立即登陆"/>
                </li>
            </ul>
        </form>
        <p><a href="./注册页.html" >用户注册</a></p>
        <p>
            &copy; 2016 <br />
            <a href="#" target="_blank">PHP高级开发攻城狮</a>
        </p>
    </div>
</div>
</body>
</html>