<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>简洁大气快速登录注册模板</title>
	<link href="./Public/home/css/login2.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h1>简洁大气快速登录注册模板<sup>2015</sup></h1>

	<div class="login"> 
		<div class="header">
			<div class="switch" id="switch">
				<a class="switch_btn_focus" href="javascript:void(0);">快速登录</a>
				<div id="switch_bottom"></div>
			</div>
		</div>    
	    <div style="display: block; height: 235px;"> 
			<!--登录-->
			<div class="web_login" id="web_login">
				<div class="login-box">
					<div class="login_form">
						<form action="" name="loginform" method="post">
							<div class="uinArea" id="uinArea">
								<label class="input-tips" for="u">帐号：</label>
								<div class="inputOuter" id="uArea">
									<input type="text" name="uname" class="inputstyle"/>
								</div>
							</div>
							<div class="pwdArea" id="pwdArea">
								<label class="input-tips" for="p">密码：</label> 
								<div class="inputOuter" id="pArea">
									<input type="password" name="pwd" class="inputstyle"/>
								</div>
							</div>
							<div style="padding-left:50px;margin-top:20px;">
								<input type="submit" value="登 录" style="width:150px;" class="button_blue"/>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--登录end-->
		</div>
	</div>
</body>
</html>

